.cover {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .cover {
    margin: 0;
    padding: 0;
  }
}
